body {
  font-family: sans-serif;
  line-height: 1;
  color: Black;
}

/* Header CSS */
header {
  background: #F5F5F5;
  color: white;
  margin-bottom:5px;
  margin-top:10px;
  text-align: center;
  height: 120px
}

/* Navigation Menu CSS */

  .navigation a {
    color: white;
    padding: 4px;
    font-size: 14px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background-color: #333333;
  }

  /* Hover effect*/
.navigation a:hover {
  background-color: #FF6600;
  color: #333333;
}
/* highlights which page the user is on in the navigation bar */
.navigation a.active {
  background-color: #FF6600;
  color: #333333;
}

/* Index main content CSS */
.main {
    background-color:#F5F5F5;
    text-align: center;
    padding-bottom:10px;
}

.mainheader {
    text-align: center;
    line-height: 0.5;
    background-color: #FF6600;
    color: #333333;
    width: auto;
    height: 100px;
    margin-bottom: 30px;
    padding-top:15px;
}

h1 {
  color: black;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 60x;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  padding: auto;
}

p {
  font-family: sans-serif;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 10px;
  line-height: 1.5;
  max-width: 900px;
}
.categorypicture {
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.categorypicture img {
  width: auto;
  height: 450px;
  max-height: 100%;
  max-width: 100%;
  object-fit:fill;
  overflow: hidden;
  margin: 20px;
}


/* button css */
button {
  padding: 10px 15px;
  background-color: #FF6600;
  color: #333333;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  outline: none;
  }


.button button {
  text-decoration: none;
  background-color:#FF6600;
  background:#FF6600;
  color: black;
  text-align: center;
  font-size: 16px;
  display: inline-block;
  justify-content: center;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  margin: 0;
  padding: 20px 40px;
  width: auto;
  height: auto;
}


/*portfolio gallery css*/

.clothes {

  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pants {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: auto;
  width: auto;
}

.pants img {
  max-width: 500px;
  max-height: 300px;
  width: auto;
  height: auto;
  object-fit: cover;
  margin-bottom: 10px;
}

.tshirts {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
height: auto;
width: auto;
}
.tshirts img {
max-width: 500px;
max-height: 300px;
width: auto;
height: auto;
object-fit: cover;
margin-bottom: 10px;
}
.shoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: auto;
  width: auto;
}

.shoes img {
max-width: 500px;
max-height: 300px;
width: auto;
height: auto;
object-fit: cover;
margin-bottom: 10px;
}

.description {
  display: block;
  width: 100%;
  margin-top: 10px;
  color: black;
  margin-bottom: 20px;
}

/* footer CSS*/
.footer {
    margin-top: 40px;
    text-align: center;
    

}

form {
width: auto;
max-width: 200px;
margin: 0 auto;
}

label {
display: block;
margin-bottom: 5px;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.social {
  display:flex;
  flex-wrap: wrap;
  Justify-content: left;
  align-items: left;
}

.social img {
  width: 55px;
  height: 55px;
  max-width:100%;
  max-height:100%;
  display: block;
  margin: 3px;

}

.footerlogo {
    float: right;
    margin: 20px;
    height: 20px;
}